<%- include('headerin'); -%><% if (locals.success ==='true') { %>
<h1 style="color: green">Attack Successful!</h1>
<% }else if(locals.success ==='false') { %>
<h1 color="red">Attack Unsuccessful!</h1>
<% } %>
<h1><%- locals.team.name %></h1>
<form action="/logout" method="get">
  <button>Logout</button>
</form>
<%- include('footer'); -%>
