<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dCrypt</title>
    <link rel="stylesheet" href="outstyle.css" />
      <link rel="icon" href="/n.png">
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body>
    <nav>
      <img src="/logo.png" class='navlogo'>
      <ul>
        <li>
          <a href="/register" <% if (locals.active=='register') { %>class="active"<% } %>>Register</a>
        </li>
        <li>
          <a href="/login"<% if (locals.active=='login') { %>class="active"<% } %> >Login</a>
        </li>

        <li>
          <a href="/leaderboard" <% if (locals.active=='leaderboard') { %>class="active"<% } %> >Leaderboard</a>
        </li>
                <li>
                  <a href="/" <% if (locals.active=='home') { %>class="active" <% } %>>Home</a>
                </li>
      </ul>
    </nav>
  </body>
</html>
