<%- include('header'); -%>
<style>
  .landimg {
    float: right !important;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .landimg img {
    margin-left: -5% !important;
    flex: 0 0 110% !important;
    display: table-cell;
    vertical-align: middle;
  }
  @media only screen and (max-width: 1000px) {
    .landimg {
      float: none !important;
      width: 100vw;
      height: auto;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
    }
    .landimg img {
      margin-left: -10% !important;
      flex: 0 0 100% !important;
    }
    .info-header {
      top: 00%;
    }
  }
</style>
<div class="info-header ib-child">
  <h1>dCrypt</h1>
  <p class="info">
    dCrypt 2020 promises to be a cryptic hunt in a league of its own. We have
    developed a new platform that combines the classic Capture the Flag formula
    with a fun, engaging and strategic wargame that will test both the
    participants ability to solve these questions, while also using resources in
    a tactical manner.
  </p>
  <button
    class="mainbtns"
    onclick="window.open('https://docs.google.com/document/d/1Oagnr9oA5iCDa-N4KIC-juf7MJKU-b9oBe9DZROxPNo/edit')"
    target="_blank"
  >
    Format
  </button>
  <button
    class="mainbtns"
    style="margin-left: 5%"
    onclick="window.open('https://discord.io/dCrypt')"
    target="_blank"
  >
    Discord
  </button>
</div>
<div class="landimg">
  <img src="/images/landing.svg" alt="Home Illustration" />
</div>
<%-include('footer'); -%>
