<%- include('header'); -%>
<div class="container">
  <div class="ib-child">
    <img src="/images/hacker.png" alt="" />
  </div>
  <div class="ib-child">
    <form action="/login" method="post" class="loginform">
      <h1>Login</h1>
      <input type="email" name="email" required placeholder="Email" />
      <input type="password" name="password" required placeholder="Password" />
      <% if (locals.failure) { %>
      <p class="error">Could not find a user with the given credentials.</p>
      <% } %> <% if (locals.passed) { %>
      <p style="color: green">Password Changed!</p>
      <% } %>
      <p
        style="
          display: inline-block;
          color: #f10000;
          position: absolute;
          transform: translateY(100%);
          cursor: pointer;
          margin-left: -20px;
        "
        onclick="$('.loginform').hide();$('.passchange').show()"
      >
        <u>Change Password</u>
      </p>
      <input type="submit" value="Login" />
    </form>
    <form
      action="/passchange"
      method="post"
      class="passchange"
      style="display: none"
    >
      <h1 style="line-height: 70px">Change Password</h1>
      <input type="email" name="email" required placeholder="Email" />
      <input type="password" name="old" required placeholder="Old Password" />
      <input type="password" name="new" required placeholder="New Password" />
      <% if (locals.passsfailure) { %>
      <p class="error">Could not find a user with the given credentials.</p>
      <% } %>
      <p
        style="
          display: inline-block;
          color: #f10000;
          position: absolute;
          transform: translateY(100%);
          cursor: pointer;
          margin-left: -20px;
        "
        onclick="$('.passchange').hide();$('.loginform').show()"
      >
        Login
      </p>
      <input type="submit" value="Change" />
    </form>
  </div>
</div>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  defer
></script>
<%- include('footer'); -%>
