<%- include('header'); -%>
<form action="/logincrypt" method="post" class="loginform">
  <h2>Login</h2>
  <label for="email">User</label>
  <input type="text" name="email" required />

  <label for="password">Password</label>
  <input type="password" name="password" required />
  <button>Login</button>
</form>
<%- include('footer'); -%>
