<%- include('headerin'); -%>
<div class="shop">
  <h1 class="heading">Shop</h1>
  <div class="top">
    <div class="switcher">
      <div class="one swactive" id="one">
        <p>Troops</p>
      </div>
      <div class="two" id="two">
        <p>Powerups</p>
      </div>
    </div>
    <div class="bal">
      <p><%= locals.team.bp %><font style="color: #f10000">BP</font></p>
    </div>
  </div>
  <div class="deduct">
    <p>
      <span style="background: none" id="deduct" class="oneform">0</span>
      <% if (locals.team.halfPrice===true) { %>
      <span style="background: none; color: white" class="oneform">x 1/2</span>
      <% } %>
    </p>
    <p>
      <span id="deduct" class="twoform" style="display: none; background: none"
        >0
      </span>
      <% if (locals.team.halfPrice===true) { %>
      <span
        class="twoform"
        style="display: none; background: none; color: white"
        >x 1/2</span
      >
      <% } %>
    </p>
  </div>

  <form action="/buy" method="post" class="oneform">
    <div class="shopitems">
      <div class="shopitem">
        <h1>Soldier</h1>
        <div class="side">
          <div class="flexer">
            <img src="/images/soldier.svg" alt="" />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Attack : 150</p>
              <p>Defense : 150</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown();"
                  style="border-right: 0.1px solid #555555"
                  class="minussol"
                ></button>
                <input
                  class="quantity soldier"
                  min="0"
                  name="soldier"
                  value="0"
                  type="number"
                  max="10"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  class="plus sol"
                  style="border-left: 0.1px solid #555555"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>
          The building block of any strong army, good for defense and attack
          both.
        </h3>
      </div>
      <div class="shopitem">
        <h1>Bomber</h1>
        <div class="side">
          <div class="flexer">
            <img src="/images/bomber.svg" alt="" />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Attack : 300</p>
              <p>Defense : 0</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown()"
                  style="border-right: 0.1px solid #555555"
                  class="minusair"
                ></button>
                <input
                  class="quantity aircraft"
                  min="0"
                  name="aircraft"
                  value="0"
                  type="number"
                  max="10"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  class="plus air"
                  style="border-left: 0.1px solid #555555"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>Rain hellfire on your enemies from the sky.</h3>
      </div>

      <div class="shopitem">
        <h1>A.A.G</h1>
        <div class="side">
          <div class="flexer">
            <img src="/images/aag.svg" alt="" style="transform: scale(1)" />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Attack : 0</p>
              <p>Defense : 300</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown()"
                  style="border-right: 0.1px solid #555555"
                  class="minusbomb"
                ></button>
                <input
                  class="quantity bomber"
                  min="0"
                  name="bomber"
                  value="0"
                  type="number"
                  max="10"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  style="border-left: 0.1px solid #555555"
                  class="plus bomb"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>Shoot down enemy aircrafts with extreme explosive power.</h3>
      </div>

      <div class="shopitem">
        <h1>Tank</h1>
        <div class="side">
          <div class="flexer">
            <img src="/images/tank.svg" alt="" />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Attack : 500</p>
              <p>Defense : 500</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown()"
                  style="border-right: 0.1px solid #555555"
                  class="minustank"
                ></button>
                <input
                  class="quantity tank"
                  min="0"
                  name="tank"
                  value="0"
                  type="number"
                  max="10"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  style="border-left: 0.1px solid #555555"
                  class="plus tank"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>Overpowered.</h3>
      </div>
    </div>
    <button class="buytr">Buy</button>
  </form>
  <form action="/powerup" method="post" class="twoform" style="display: none">
    <div class="shopitems">
      <div class="shopitem">
        <h1>Multiplier</h1>
        <div class="side">
          <div class="flexer">
            <img src="/images/multiplier.svg" alt="" />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Duration : 1 hr</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown();"
                  style="border-right: 0.1px solid #555555"
                  class="minusmul"
                ></button>
                <input
                  class="quantity multiplier"
                  min="0"
                  name="multiplier"
                  value="0"
                  type="number"
                  max="1"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  class="plus mul"
                  style="border-left: 0.1px solid #555555"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>Increase the attack stat of your troops by 1.5x for 1 hour.</h3>
      </div>
      <div class="shopitem">
        <h1>Shield</h1>
        <div class="side">
          <div class="flexer">
            <img src="/images/shield.svg" alt="" />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Duration : 1 hr</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown()"
                  style="border-right: 0.1px solid #555555"
                  class="minusshield"
                ></button>
                <input
                  class="quantity shield"
                  min="0"
                  name="shield"
                  value="0"
                  type="number"
                  max="1"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  class="plus shield"
                  style="border-left: 0.1px solid #555555"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>Protect yourself from enemy attacks for 1 hour.</h3>
      </div>

      <div class="shopitem">
        <h1>Half Prices</h1>
        <div class="side">
          <div class="flexer">
            <img
              src="/images/discount.svg"
              alt=""
              style="transform: scale(1)"
            />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Uses : 3</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown()"
                  style="border-right: 0.1px solid #555555"
                  class="minushalf"
                ></button>
                <input
                  class="quantity half"
                  min="0"
                  name="half"
                  value="0"
                  type="number"
                  max="1"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  style="border-left: 0.1px solid #555555"
                  class="plus half"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>
          50% discount on all items on the shop. To be used with the next three
          transactions
        </h3>
      </div>

      <div class="shopitem">
        <h1>DP Visibility</h1>
        <div class="side">
          <div class="flexer">
            <img src="/images/dpshow.svg" alt="" />
          </div>
          <div class="iteminfo">
            <div class="botum">
              <p>Duration : 1 Hour</p>
              <div class="number-input">
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepDown()"
                  style="border-right: 0.1px solid #555555"
                  class="minusdp"
                ></button>
                <input
                  class="quantity dp"
                  min="0"
                  name="dp"
                  value="0"
                  type="number"
                  max="1"
                  readonly
                />
                <button
                  type="button"
                  onclick="this.parentNode.querySelector('input[type=number').stepUp()"
                  style="border-left: 0.1px solid #555555"
                  class="plus dp"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <h3>
          See every player's Defence Points on the leaderboard for 1 hour.
        </h3>
      </div>
    </div>
    <button class="buytr">Buy</button>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    <% if (locals.error){ %>
      <% if (locals.error=='buywrong'){ %>
    window.onload = function () {
      alert("You Don't have enough BP!");
    };<% } else if  (locals.error == 'buyless') { %>
         window.onload = function () {
          alert("Please select atleast one item.");
        };
    <% } else { %>
        window.onload = function () {
          alert("Only one powerup can be active at a time!");
        };
    <% }} %>
            function multiUpdate1() {
             document.querySelector(".deduct .oneform").innerText = parseInt(document.querySelector(".soldier").value) * 100 + parseInt(document.querySelector(".tank").value) * 400 + parseInt(document.querySelector(".bomber").value) * 250+ parseInt(document.querySelector(".aircraft").value) * 250;
            }
          document.querySelector(".minussol").addEventListener("click", () => {
            multiUpdate1();
          });
          document.querySelector(".plus.sol").addEventListener("click", () => {
            multiUpdate1();
          });
          document.querySelector(".minusbomb").addEventListener("click", () => {
            multiUpdate1();
          });
          document.querySelector(".plus.bomb").addEventListener("click", () => {
            multiUpdate1();
          });
          document.querySelector(".minustank").addEventListener("click", () => {
            multiUpdate1();
          });
          document.querySelector(".plus.tank").addEventListener("click", () => {
            multiUpdate1();
          });
          document.querySelector(".minusair").addEventListener("click", () => {
            multiUpdate1();
          });
          document.querySelector(".plus.air").addEventListener("click", () => {
            multiUpdate1();
          });

        function multiUpdate() {
          document.querySelector(".deduct .twoform").innerText =document.querySelector(".multiplier").value * 1000 + document.querySelector(".shield").value * 1000 + document.querySelector(".half").value * 1000+ document.querySelector(".dp").value * 1000
          }
          document.querySelector(".minusmul").addEventListener("click", () => {
            multiUpdate();
          });
          document.querySelector(".plus.mul").addEventListener("click", () => {
            multiUpdate();
          });
                    document.querySelector(".minusshield").addEventListener("click", () => {
                        multiUpdate();
                      });
                      document.querySelector(".plus.shield").addEventListener("click", () => {
                        multiUpdate();
                      });
                                document.querySelector(".minushalf").addEventListener("click", () => {
                                    multiUpdate();
                                  });
                                  document.querySelector(".plus.half").addEventListener("click", () => {
                                    multiUpdate();
                                  });
                                            document.querySelector(".minusdp").addEventListener("click", () => {
                                                multiUpdate();
                                              });
                                              document.querySelector(".plus.dp").addEventListener("click", () => {
                                                multiUpdate();
                                              });

    $(".switcher div").click(function () {
      $(".deduct span").hide()
      $(".switcher div").removeClass("swactive");
      $(this).toggleClass("swactive");
      var x = $(this).attr("id");
      $("form").hide();
      $("." + x + "form").toggle();
    });
  </script>
  <%- include('footer'); -%>
</div>
