@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: fcsq;
  src: url(../fonts/fcsq.woff2);
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #1f1f1f;
  font-family: "Red Hat Display", "sans-serif";
  overflow-x: hidden;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: #151515;
  position: absolute;
  z-index: 1;
}
.navlogo {
  height: 50%;
  top: 25%;
  left: 2%;
  width: auto;
  display: inline-block;
  position: absolute;
}
ul {
  list-style-type: none;
  margin-right: 60px;
}
li {
  float: right;
  margin-top: 5vh;
  transform: translateY(-50%);
  font-size: 16px;
}
li:not(:last-child) {
  margin-left: 60px;
}
.active:after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 80%;
  margin: 5px 10%;
  border-radius: 12px;
  background-color: red;
}
li:after {
  width: 0%;
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  margin: 5px 10%;
  border-radius: 12px;
  background-color: #f10000;
  transition: width 0.2s ease-in-out;
}
li:hover:after {
  width: 80%;
}

ul li a {
  text-decoration: none;
  color: white;
}
.lb {
  font-family: "Red Hat Display";

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  margin: 0px 0px 2vw 0px;
  color: #ffffff;
}
.tablecontain {
  padding: 2% 5%;
  margin-top: 10vh;
}
tr {
  text-align: center;
}
th {
  padding: 24px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  background-color: #101010;
}
td {
  padding: 24px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}
table {
  color: white;
  width: 100%;
  border: none;
  border-spacing: 0px;
}
#questionz {
  padding: 10vh 5%;
}
.heading {
  margin: 5vh 0px;

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;

  color: #ffffff;
}

.question {
  width: 20%;
  height: 200px;
  background: rgb(39, 38, 38);
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.question:not(:first-child) {
  margin-left: 5%;
}
.qcontent {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  width: 100%;
  color: #ffffff;
}
.qcontent p {
  margin: 20px 0px;
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.qmodal {
  display: none;
  min-height: 33vh;
  width: 50vw;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 18px;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #191919;
  color: #fff;
}

.qinfo {
  margin: 0px 10% 20px 10%;
  width: 80%;
  position: relative;
  height: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.qinfo p {
  margin: 30px 0px;
}
.qhead {
  margin: 20px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;

  color: #ffffff;
}
.qtext {
  margin: 20px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  width: 100%;
  line-height: 32px;
  position: relative;
  text-align: left;
  color: #ffffff;
}
.attacher {
  position: relative;
  margin: 0px 0px 30px 0px;
  float: left;
  clear: both;
  border: none;
  outline: none;
  background: #4f4f4f;
  border-radius: 6px;
  padding: 0.6vw 1.2vw;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
.mymodal .close {
  position: absolute;
  top: 5vh;
  right: 5vw;
  cursor: pointer;
  z-index: 1;
  font-size: 2vw;
}
.qmodal .close {
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}

.sidebyside {
  display: flex;
  width: 100%;
  position: relative;
}
.sidebyside button {
  flex-grow: 1;
  border: none;
  outline: none;
  background: #9d1111;
  border-radius: 14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  padding: 0.6vw 1.2vw;
  color: #ffffff;
  margin-left: -10px;
  z-index: 1;
  cursor: pointer;
}
.sidebyside input[type="text"] {
  flex-grow: 3;
  background: #262626;
  border-radius: 14px 0px 0px 14px;
  outline: none;
  border: none;
  font-size: 24px;
  padding: 10px 10px;
  color: white;
  opacity: 0.8;
}
.atkbtn {
  border: none;
  outline: none;
  background: #9d1111;
  border-radius: 14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding: 0.6vw 2vw;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
}
.atkcol {
  text-align: center;
}
td {
  width: 25%;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background: transparent;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  background: transparent;
  border: none;
  display: inline-flex;
  margin-top: 15%;
  transform: translateY(-50%);
}
.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 8.7rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #9d1111;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
input[type="number"]:focus {
  outline: none;
}
.middle {
  text-align: center;
}
.middle h3 {
  margin-bottom: 20px;
}
.number-input input[type="number"] {
  font-family: "Red Hat Display";
  max-width: 5rem;
  padding: 0.5rem;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  color: white;
  font-weight: 400;
}
.mymodal {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #151515;
  color: #fff;
  padding: 5vh 5%;
}
.mymodal > h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 5%;
  color: #ffffff;
}
.twodivs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.deploy,
.inventory {
  flex: 1 1 50%;
}
.inventory h1,
.deploy h1 {
  text-align: center;

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 10%;
  color: #ffffff;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
.inputz {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
}
.deploy input[type="submit"] {
  float: right;
  margin-top: 25%;
  border: none;
  outline: none;
  background: #9d1111;
  border-radius: 14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding: 0.6vw 2vw;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
}
.inventroop {
  padding: 5% 1%;
  background-color: #262626;
  text-align: center;
  min-width: 30%;
  min-height: 300px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inventroop p + p {
  margin-top: 20px;

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #ffffff;
}
.inventroop p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}
.inventroop img {
  margin-top: 20px;
  width: 5vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
span {
  background-color: red;
  cursor: pointer;
}
.shop {
  padding: 10vh 5%;
}
.top {
  width: 100%;
  position: relative;
  height: 5vh;
}
.switcher {
  width: 20%;
  height: 100%;
  display: inline-block;
}
.switcher div {
  background-color: #262626;
  font-family: "Red Hat Display";
  width: 50%;
  height: 100%;
  color: red;
  text-align: center;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-weight: 500;
  float: left;
}
.bal {
  background-color: #262626;
  font-family: "Red Hat Display";
  width: 10%;
  height: 100%;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  float: right;
  display: grid;
  place-items: center;
}

.swactive {
  background-color: #d20000 !important;
}
.swactive p {
  color: white;
}
.shopitem .number-input input[type="number"] {
  font-family: "Red Hat Display";
  max-width: 5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  height: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  font-weight: 400;
}
.shopitem input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background: transparent;
  border: none;
}

.shopitem input[type="number"]::-webkit-inner-spin-button,
.shopitem input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.shopitem .number-input {
  background: transparent;
  border: none;
  display: inline-flex;
}
.shopitem .number-input,
.shopitem .number-input {
  box-sizing: border-box;
}

.shopitem .number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: #1f1f1f;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.shopitem .number-input button:before,
.shopitem .number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #9d1111;
  transform: translate(-50%, -50%);
}
.shopitem .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.shopitem input[type="number"]:focus {
  outline: none;
}
.shopitems {
  display: flex;
  margin-top: 2%;
}

.shopitem {
  background-color: #272727;
  padding: 1%;
  width: 25%;
  color: white;
  border-radius: 14px;
}
.shopitem + .shopitem {
  margin-left: 2%;
}
.shopitem h1 {
  text-align: center;
  color: #d20000;
}
.side {
  display: flex;
  flex-wrap: wrap;
}
.iteminfo {
  flex: 1 1 50%;
  text-align: center;
  position: relative;
}
.iteminfo p:first-of-type {
  display: block;
}
.flexer {
  flex: 1 1 50%;
}
img {
  width: 100%;
}
.iteminfo p {
  text-align: center;
  font-size: 1.2vw;
}
.botum {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 20px;
}
.shopitem h3 {
  font-weight: 400;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-size: 1.2vw;
}
.shopitem p + p {
  margin-bottom: 10px;
}
.deduct {
  color: #fff;
  text-align: right;
  padding: 0% 5%;
  margin-top: 10px;
}
.deduct p {
  display: inline-block;
  transform: translateX(50%);
  color: #b12323;
}
.buytr {
  flex-grow: 1;
  float: right;
  margin-top: 2%;
  border: none;
  outline: none;
  background: #9d1111;
  border-radius: 14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  padding: 0.6vw 2vw;
  color: #ffffff;
  margin-left: -10px;
  z-index: 1;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .buytr {
    font-size: 12px;
    padding: 1.5vw 7vw;
    border-radius: 8px;
    margin-top: 20px;
  }
  .bal {
    width: 20%;
  }
  .switcher {
    width: 60%;
  }
  .iteminfo p {
    font-size: 5vw;
  }
  .shopitems {
    display: block;
    margin-top: 0%;
  }
  .shopitem + .shopitem {
    margin-left: 10%;
  }
  .shopitem {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .shopitem h3 {
    width: 80%;
    margin-left: 10%;
    font-size: 4vw;
    margin-bottom: 10%;
  }
  .twodivs {
    display: block;
  }
  .inputz {
    display: block;
    text-align: center;
  }
  .mymodal {
    height: auto;
  }
  .inventory h1,
  .deploy h1 {
    margin: 5vh 0px;
  }
  .deploy input[type="submit"] {
    font-size: 19px;
    padding: 2vw 4vw;
    border-radius: 8px;
    margin-top: 5%;
  }
  .mymodal > h1 {
    font-size: 32px;
  }
  .inventroop img {
    margin-top: 0px;
  }
  .inventroop p + p {
    margin-top: 0px;
    font-size: 32px;
    line-height: 44px;
  }
  .inventroop p {
    font-size: 18px;
  }
  .mymodal .close {
    font-size: 5vw;
    top: 2vh;
  }
  .heading {
    font-size: 44px;
  }
  .inventroop {
    min-height: 200px;
  }
  .number-input {
    background: transparent;
    border: none;
    display: inline-flex;
    margin-top: 0%;
    transform: translateY(0%);
  }
  .atkbtn {
    font-size: 12px;
    padding: 1.5vw 3vw;
    border-radius: 8px;
  }
  #questionz {
    padding: 10vh 10%;
  }
  .question {
    width: 100%;
  }
  .question:not(:first-child) {
    margin-left: 0%;
    margin-top: 10%;
  }
  .qmodal {
    width: 90vw;
  }
  .sidebyside input[type="text"] {
    font-size: 18px;
    flex-grow: 2;
  }
  .sidebyside button {
    font-size: 18px;
    padding: 1vw 3vw;
    flex-grow: 1;
  }
  .lb {
    font-size: 32px;
  }
  .tablecontain {
    padding: 2% 2%;
    margin-top: 10vh;
  }
  tr {
    text-align: center;
  }
  th {
    padding: 8px;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background-color: #101010;
  }
  td {
    padding: 8px;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
  }
  table {
    color: white;
    width: 100%;
    border: none;
    border-spacing: 0px;
  }
  .navlogo {
    display: none;
  }
  nav {
    display: grid;
    place-items: center;
  }
  ul {
    list-style-type: none;
    margin-right: 10px;
  }
  li {
    float: right;
    margin-top: 4vh;
    transform: translateY(-100%);
    font-size: 12px;
  }
  li:not(:last-child) {
    margin-left: 25px;
  }
  .active:after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 80%;
    margin: 5px 10%;
    border-radius: 12px;
    background-color: red;
  }
}
